{% extends 'nvd3/base.html' %}
{% load staticfiles %}
{% block title %}NVD3 Bar Chart{% endblock %}
{% block extrahead %}
  {{ block.super }}
{% endblock %}

{%  block content %}

<script>

  //Each bar represents a single discrete quantity.
  function exampleData() {
   return  [
      {
        key: "Cumulative Return",
        values: [
          { "label" : "A Label" , "value" : -29.765957771107 } ,
          { "label" : "B Label" , "value" : 0                } ,
          { "label" : "C Label" , "value" : 32.807804682612  } ,
          { "label" : "D Label" , "value" : 196.45946739256  } ,
          { "label" : "E Label" , "value" : 0.19434030906893 } ,
          { "label" : "F Label" , "value" : -98.079782601442 } ,
          { "label" : "G Label" , "value" : -13.925743130903 } ,
          { "label" : "H Label" , "value" : -5.1387322875705 }
        ]
      }
    ]
  }

  nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.value })
      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
      .tooltips(false)        //Don't show tooltips
      .showValues(true)       //...instead, show the bar value right on top of each bar.
      .transitionDuration(350)
      ;

    d3.select('#chart svg')
      .datum(exampleData())
      .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });

</script>

  <div class="page-header">
    <h1>Bar chart with NVD3</h1>
  </div>

  <div id="chart">
    <svg style="height:500px;width:800px"></svg>
  </div>

  <div class="references">
    <h1>Credits and Further Reading</h1>
    <ul>
      <li>Source: <a href="http://nvd3.org/examples/discreteBar.html">http://nvd3.org/examples/discreteBar.html</a></li>
      <li><a href="http://bl.ocks.org/mbostock/3887118">http://bl.ocks.org/mbostock/3887118</a></li>
    </ul>
  </div>

{% endblock %}